header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
}
section, header, footer {
    display: block;
    width: 100%;
    float: left;
}
.container {
    max-width: 100%;
}
.containerPadding {
    padding-left: 36px;
    padding-right: 36px;
    float: left;
    width: 100%;
}
#logo {
    float: left;
}
.logo-8-12 {
    height: 45px;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.innerHeader {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*color: #fff;*/
    overflow: hidden;
}
.innerHeaderCaption h2 {
    font-size: 60px;
    text-align: center;
    transition: all .6s ease-in-out;
    font-family: 'Quattrocento', serif;
    text-transform: uppercase;
    transition-delay: .4s;
}
.innerHeaderCaption h3 {
    width: 100%;
    display: flex;
    font-size: 20px;
    transition: all .6s ease-in-out;
    align-items: center;
    font-family: Roboto;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 32px;
    letter-spacing: .5px;
    justify-content: center;
}
.videoBgSection .innerHeaderCaption {
    position: relative;
    z-index: 1;
}
.bgVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.btn1 {
    min-width: 180px;
    background: #a3875b;
    padding: 0px 36px;
    margin-top: 15px;
    font: 700 12px/50px 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: solid 2px #a3875b;
    border-radius: 0;
    webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}
.btn1:hover,
.btn1:focus,
.btn1:active {
  background: transparent !important;
  border: solid 2px #a3875b !important;
  color: #a3875b !important;
  -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}


.main-button:hover {
  background: #ddd;
  color: black;
}