{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div id="main" role="main">
        <div class="quiz-header px-4 py-0">
            <div class="d-flex align-items-center">
                <div class="quiz-logo-box">
                    <a href="/">
                        <img class="logo-quiz" src="{% static 'assets/img/premium.png' %}" alt="">
                    </a>
                </div>
                <div class="quiz-nav-box">
                    <nav class="quiz-header-links" role="navigation">
                        <div class="sm-only text-center">
                            <a class="active" aria-current="page" disabled="">Diverse(3/5)</a>
                        </div>
                        <div class="lg-only">
                            <a class="" href="./step_one" aria-current="page" disabled="">Om deg</a>
                            <a class="" disabled="" href="./step_two">Omsetning</a>
                            <a class="active" disabled="" href="./step_three">Diverse</a>
                            <a class="" disabled="" href="#">Suksessfaktorer</a>
                            <a class="" disabled="" href="#">Oppsummering</a>
                        </div>
                        <div class="header-progress-box lg-only">
                            <div class="HeaderProgress">
                                <div class="HeaderProgress-bar inactive"></div>
                                <div class="HeaderProgress-bar active w-50"></div>
                                <div class="HeaderProgress-steps">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="inactive"></span>
                                    <span class="inactive"></span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="quiz-special-box">
                    <div class="DiscountBadge lg-only">
                        <span style="margin-top: 4px; margin-left: 10px;">
                            <h2 class="Title separe">DRIVE EGET KONTOR?</h2>
                            <p class="Text"><small>Sjekk ut W Flex her</small></p>
                        </span>
                    </div>
                    <div class="DiscountBadge sm-only">
                        <p class="Text badge-text">W Flex</p>
                    </div>
                </div>
                <div class="HeaderProgress sm-only">
                    <div class="HeaderProgress-bar inactive"></div>
                    <div class="HeaderProgress-bar active w-50"></div>
                    <div class="HeaderProgress-steps">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="inactive"></span>
                        <span class="inactive"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-content">
            <h2 class="main-caption">En ny og bedre meglerhverdag<br /> starter her</h2>
            <div class="quiz-answer">
                <div class="quiz-form-row quiz-2a">
                    <span>Jeg forventer å kjøre</span>
                    <select class="main-select-input select-box-three" id="distance">
                        <option class="default-option" selected disabled>velg</option>
                        {% for x in distance_values %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                    </select>
                    <span>km i året i forbindelse med arbeid</span>
                    <span>, og har behov for</span>
                    <select class="main-select-input select-box-five" id="dataUsage">
                        <option class="default-option" selected disabled>velg</option>
                        {% for x in data_usage_values %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                    </select>
                    <span>GB databruk pr måneden i mobil bruk.</span>
                </div>
            </div>
            <button type="button" class="btn1" id="nextBtn" disabled="disabled">Neste</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            loadDataFromLocalStorage()
            checkNextButtonStatus()

            $('#nextBtn').click(function () {
                let distance = $('#distance').val()
                let dataUsage = $('#dataUsage').val()

                localStorage.setItem('distance', distance)
                localStorage.setItem('dataUsage', dataUsage)

                document.location.href='./step_four'
            })

            $('select').change(function () {
                checkNextButtonStatus()
            })
        });

        const loadDataFromLocalStorage = () => {
            const distance = localStorage.getItem('distance')
            const dataUsage = localStorage.getItem('dataUsage')

            if (distance != null) {
                $('#distance .default-option').attr('selected', false)
                $('#distance').val(distance)
            }
            if (dataUsage != null) {
                $('#dataUsage .default-option').attr('selected', false)
                $('#dataUsage').val(dataUsage)
            }
        }

        const checkNextButtonStatus = () => {
            let distance = $('#distance').val()
            let dataUsage = $('#dataUsage').val()

            if (distance !=null && dataUsage != null) $('#nextBtn').attr('disabled', false)
        }

    </script>
{% endblock %}