{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div id="main" role="main">
        <div class="quiz-header px-4 py-0">
            <div class="d-flex align-items-center">
                <div class="quiz-logo-box">
                    <a href="/">
                        <img class="logo-quiz" src="{% static 'assets/img/premium.png' %}" alt="">
                    </a>
                </div>
                <div class="quiz-nav-box">
                    <nav class="quiz-header-links" role="navigation">
                        <div class="sm-only text-center">
                            <a class="active" aria-current="page" disabled="">Oppsummering(5/5)</a>
                        </div>
                        <div class="lg-only">
                            <a class="" href="./step_one" aria-current="page" disabled="">Om deg</a>
                            <a class="" disabled="" href="./step_two">Omsetning</a>
                            <a class="" disabled="" href="./step_three">Diverse</a>
                            <a class="" disabled="" href="./step_four">Suksessfaktorer</a>
                            <a class="active" disabled="" href="./step_five">Oppsummering</a>
                        </div>
                        <div class="header-progress-box lg-only">
                            <div class="HeaderProgress">
                                <div class="HeaderProgress-bar inactive"></div>
                                <div class="HeaderProgress-bar active w-100"></div>
                                <div class="HeaderProgress-steps">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="quiz-special-box">
                    <div class="DiscountBadge lg-only">
                        <span style="margin-top: 4px; margin-left: 10px;">
                            <h2 class="Title separe">DRIVE EGET KONTOR?</h2>
                            <p class="Text"><small>Sjekk ut W Flex her</small></p>
                        </span>
                    </div>
                    <div class="DiscountBadge sm-only">
                        <p class="Text badge-text">W Flex</p>
                    </div>
                </div>
                <div class="HeaderProgress sm-only">
                    <div class="HeaderProgress-bar inactive"></div>
                    <div class="HeaderProgress-bar active w-100"></div>
                    <div class="HeaderProgress-steps">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-content">
            <div class="quiz-answer overview">
                <div class="quiz-form-row text-left">
                    <p class="emphasis-text text-center">Takk for dine svar.</p>
                    <p>Som en megler hos W vil du ha en brutto lønn på kr <span class="calculation1"></span> og <span class="calculation2"></span> i kjøregodtgjørelser.</p>
                    <p class="color-main font-weight-bold">Totalt: <span class="calculation3"></span></p>
                    <p>Men penger er ikke alt. Du må også ha en arbeidsplass hvor du trives og som tilrettelegger for dine behov.</p>
                </div>
                <div class="quiz-form-row text-left">
                    <p class="headline headline-a"></p>
                    <p class="chapter-a"></p>
                    <p class="headline headline-b"></p>
                    <p class="chapter-b"></p>
                    <p class="headline">Lyst til å lære mer om W?</p>
                    <p>I tillegg kommer en mangde andre grunner som trolig vil gjøre at du kunne trivdes godt hos W Eiendomsmegling.
                        Dersom du har lyst til å lære mer om mulighetene og avklare om vi er en god match.
                        Så er vi alltid åpne for en uforpklitende og konfidensiell prat.
                    </p>
                </div>
                <div class="quiz-form-row text-left">
                    <p>
                        Du kan bruke skjemaet ved å trykke på knappen nedenfor så tar vi kontakt med deg,
                        eller du kan sende oss en epost til <b class="color-main">stian@wmegling.no</b>
                        eller ringe oss på <b class="color-main">98 15 11 90</b>.
                    </p>
                </div>
            </div>
            <a href="#" class="btn1" id="nextBtn" data-toggle="modal" data-target="#SeligBolig">Bli kontaktet</a>
        </div>
        <div class="modal hide fade" id="SeligBolig" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="loading-icon-box">
                        <img src="assets/img/ajax-loader.gif" class="loading-icon">
                    </div>
                    <div class="enquiryPopup">
                        <div class="modal-header border-0">
                            <h4 class="modal-title w-100" id="selge_modal_title">
                                <div class="popLogo"><img src="{% static 'assets/img/premium.png' %}"></div>
                                <div class="before-sending">
                                    Legg igjen din kontakt informasjon så kontakter vi deg. All informasjon blir behandlet konfidensielt.
                                </div>
                                <div class="after-sending d-none">
                                    Takk for din henvendelse!
                                    <p>Vi vil ta kontakt med deg snarest.</p>
                                </div>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></button>
                        </div>
                        <div class="modal-body" id="selge_form_body">
                            <div class="before-sending">
                                <div class="btn-danger text-center">
                                    <span id="empty_field_error_message">Du må oppgi e-post eller telefonnummer for at vi skal kunne kontakte deg.</span>
                                    <span id="email_error_message">E-postadressen er ugyldig.</span>
                                    <span id="agreement_error_message">Du må godta brukeravtale.</span>
                                </div>
                                <form id="contact_form" class="contact_form" enctype="multipart/form-data" novalidate
                                      onsubmit="event.preventDefault();">
                                    <input type="hidden" name="main_data" id="main_data">

                                    <div class="formPoup din-box">
                                        <div class="popupRow">
                                            <input type="text" name="name" id="name" placeholder="Navn" required>
                                        </div>
                                        <div class="popupRow">
                                            <input type="text" name="email" id="email" placeholder="Epost" required>
                                        </div>
                                        <div class="popupRow">
                                            <input type="number" name="phone" id="phone" placeholder="Tlf" required>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="user_agreement" name="user_agreement" required>
                                            <label class="custom-control-label modal-intro-text" for="user_agreement">Jeg aksepterer at W Eiendomsmegling lagrer informasjonen og tar kontakt med meg</label>
                                        </div>
                                        <div class="popupRow popupMubmit text-center">
                                            <button type="submit" class="btn1 btnPadding contactSubmitButton"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Send</font></font></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        let chapters= [
            {
                'answer': 'et supert arbeidsmiljø/gode kolleger',
                'headline': 'Et supert arbeidsmiljø',
                'chapter': '«Like barn leker best» - Dette handler ikke om kjønn, kultur eller bakgrunn, men at våre team består av ulike individer med én felles interesse; å være den beste utgaven av så selv og på den måten oppnå sitt fulle potensiale.'
            },
            {
                'answer': 'mulighet for personlig utvikling',
                'headline': 'Mulighet for personlig utvikling',
                'chapter': 'Personlig utvikling betinger at du er åpen for forandringer. Vi har et stort fokus på å legge til rette for at du skal nå dine mål og drømmer og vil sammen med deg legge en strategi for dette. Det krever likevel at du selv må ta ansvar for å prioritere og gjennomføre det som skal til for at du skal oppnå dine personlige mål.'
            },
            {
                'answer': 'den beste teknologien',
                'headline': 'Den beste teknologien',
                'chapter': 'De fleste foretak påstår at de har det beste produktet og den beste teknologien, samtidig som de benytter seg av de samme tredjepartsleverandørene som alle andre. W Eiendomsmegling er heleid av et teknologiselskap, Webmegling Technology AS, hvor vi utvikler egne løsninger som skal gjøre hverdagen til våre meglere vesentlig mer fleksibel og effektiv samt gi våre kunder den beste opplevelsen. Vi lanserer snart våre egne løsninger for salg av bruktbolig og nybygg, hvor vi som eneste meglerforetak i Norge har fått støtte fra Innovasjon Norge til utvikling av dette.'
            },
            {
                'answer': 'mulighet for partnerskap',
                'headline': 'Mulighet for partnerskap',
                'chapter': 'Vi er opptatte av å dele og knytte til oss de beste menneskene som er med på å løfte både lokalkontoret man jobber på og kjeden som en helhet. For de rette kandidatene vil det her selvsagt være mulighet for partnerskap via vårt partnerprogram.'
            },
            {
                'answer': 'høy lønn',
                'headline': 'Høy lønn',
                'chapter': 'Vårt mål er å disrupte den tradisjonelle franchisemodellen, hvor vi blant annet legger til rette for at du som megler skal sitte igjen med mest mulig av din provisjon. Hos oss vil du derfor få 50% provisjon fra første krone. Dette er mulig fordi våre kontorer har lavere kostnader hos oss enn det som er vanlig i tradisjonelle franchiser.'
            },
            {
                'answer': 'frihet',
                'headline': 'Frihet og fleksibilitet',
                'chapter': 'Ikke alle ønsker eller orker å ofre venner, familie og fritid i den evige jakten på «suksess». Vi ser dessverre altfor mange dyktige meglere som bytter bransje etter noen år fordi man ikke ser hvordan en skal klare å oppnå suksess både som eiendomsmegler og på fritiden. Vi tror på å jobbe smartere! Hos oss styrer du din egen hverdag og har verktøy som effektiviserer den. I tillegg har du høy provisjon på hver bolig du selger slik at du både kan tjene godt og ha tid til å nyte livet.'
            },
            {
                'answer': 'å kunne påvirke arbeidsplassen',
                'headline': 'Å kunne påvirke arbeidsplassen',
                'chapter': 'Vår viktigste jobb er å sørge for at du som eiendomsmegler har det best mulig slik at du kan gi 100% til våre kunder. Derfor vil også din stemme verdsettes høyt og vi ønsker å involvere deg uavhengig om du kommer rett fra skolebenken eller har flere års erfaring. Hos oss er det kort vei fra ide til gjennomføring.'
            },
            {
                'answer': 'kvalitet',
                'headline': 'Kvalitet',
                'chapter': 'Fokus på kvalitet er grunnleggende i alt vi gjør, det være seg opplæring og oppfølging av deg som megler, systemene og løsningene vi utvikler, eller produktene og leveransen vi tilbyr til våre kunder. I tillegg har vi fokus på din livskvalitet.'
            },
            {
                'answer': 'å ha backoffice',
                'headline': 'Backoffice/assistent',
                'chapter': 'Som en del av vårt konsept tilbyr vi en løsning med ekstern backoffice hvor du som megler selv kan bestemme om og når du vil ha bistand til det administrative arbeidet uten å måtte klarere dette med lederen din.'
            },
            {
                'answer': 'den beste verktøykassen',
                'headline': 'Den beste verktøykassen',
                'chapter': 'Systemene vi bruker og produktene vi tilbyr til våre kunden er av høy kvalitet både innholdsmessig og visuelt. Ettersom vi er heleid av et teknologiselskap vil du også få tilgang til egenutviklete systemer som ingen andre i bransjen kan tilby.'
            },
            {
                'answer': 'vinnerkultur',
                'headline': 'Vinnerkultur',
                'chapter': 'Vi skal være den beste arbeidsplassen for deg som ønsker å være den beste utgaven av deg selv. Ambisjonsnivået kan variere blant meglerne, men felles for alle er lysten og evnen til å levere sitt ytterste for sine kunder hver eneste gang. Fellesskapet er viktigere enn enkeltindivider og laget må vinne sammen!'
            },
            {
                'answer': 'god leadstilgang',
                'headline': 'God tilgang til leads',
                'chapter': 'Vi skal ikke vokse ved å ansette flest mulig. Vi skal sørge for at det er en sunn balanse mellom antall meglere pr. kontor og antall leads som kommer inn til kontoret. I tillegg vil vår markedsavdeling sørge for leadsgenererende tiltak samt løsninger for at du lettere vil få kunder av deg til å bli dine ambassadører.'
            }
        ]

        $(document).ready(function () {
            loadData()
            initErrorMsg()
            // step2
            const sales = parseInt(localStorage.getItem('sales'))
            const commission = parseInt(localStorage.getItem('commission'))
            // step3
            const distance = parseInt(localStorage.getItem('distance'))
            const dataUsage = parseInt(localStorage.getItem('dataUsage'))
            // step4
            const importantThingOne = localStorage.getItem('importantThingOne')
            const importantThingTwo = localStorage.getItem('importantThingTwo')

            const calculation2 = distance * 3.5
            const calculation2b = getCalculation2bValue(dataUsage)
            const calculation1 = (sales * commission * 0.5) - (calculation2 + calculation2b)
            const calculation3 = calculation1 + calculation2

            const calculation1WithFormat = numberWithDots(calculation1)
            const calculation2WithFormat = numberWithDots(calculation2)
            const calculation3WithFormat = numberWithDots(calculation3)

            $('.calculation1').text(calculation1WithFormat)
            $('.calculation2').text(calculation2WithFormat)
            $('.calculation3').text(calculation3WithFormat)

            const chapterA = getChapterByAnswer(importantThingOne)
            const chapterB = getChapterByAnswer(importantThingTwo)
            $('.headline-a').text(chapterA.headline)
            $('.chapter-a').text(chapterA.chapter)
            $('.headline-b').text(chapterB.headline)
            $('.chapter-b').text(chapterB.chapter)

            $('.contactSubmitButton').click(function () {
                $('#empty_field_error_message').hide()
                let email = $('#email').val()
                let phone = $('#phone').val()
                let user_agreement = $('#user_agreement').prop("checked")

                initErrorMsg()
                if (email === '' && phone === '') {
                    $('#empty_field_error_message').show()
                    return
                } else {
                    if (email !=='' && !validateEmail(email)) {
                        $('#email_error_message').show()
                        return
                    }
                }
                if (!user_agreement) {
                    $('#agreement_error_message').show()
                    return
                }

                let data = $('#contact_form').serialize();

                $('.loading-icon-box').css('display', 'block')
                $('.contactSubmitButton').attr('disabled', true)

                $.ajax({
                    url: './send.php',
                    type: 'POST',
                    data: data
                }).success(function (data) {
                    $(".loading-icon-box").css("display", "none")
                    $('.contactSubmitButton').attr('disabled', false)

                    data = JSON.parse(data)
                    if (data.status === 'success') {
                        $('.modal-body').hide()
                        $('.before-sending').addClass('d-none')
                        $('.after-sending').removeClass('d-none')
                    } else {
                        alert('Feil !!!');
                    }
                }).error(function (data) {
                    $(".loading-icon-box").css("display", "none")
                    console.info(data)
                })
            })
        });

        const loadData = () => {
            const job = localStorage.getItem('job')
            const address = localStorage.getItem('address')
            const experience = localStorage.getItem('experience')
            const sales = localStorage.getItem('sales')
            const commission = localStorage.getItem('commission')

            const importantThingOne = localStorage.getItem('importantThingOne')
            const importantThingTwo = localStorage.getItem('importantThingTwo')

            const additionalData = {
                job,
                address,
                experience,
                sales,
                commission,
                importantThingOne,
                importantThingTwo
            }

            $('#main_data').val(JSON.stringify(additionalData))
        }

        const initErrorMsg = () => {
            $('#empty_field_error_message').hide()
            $('#email_error_message').hide()
            $('#agreement_error_message').hide()
        }

        const validateEmail = (email) => {
            let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        const getChapterByAnswer = (answer) => {
            let result = ''
            $.each(chapters, function( index, obj ) {
                if (obj.answer === answer) {
                    result = obj
                    return false
                }
            })

            return result
        }

        const getCalculation2bValue = (answer) => {
            let result
            if (answer >= 1 && answer <= 2) {
                result = 2988
            } else if (answer >= 3 && answer <= 4) {
                result = 4188
            } else if (answer >= 5 && answer <= 6) {
                result = 4548
            } else if (answer >= 7 && answer <= 10) {
                result = 5148
            } else if (answer >= 11 && answer <= 15) {
                result = 5748
            } else if (answer >= 16 && answer <= 20) {
                result = 6348
            } else {
                result = 0
            }

            return result
        }

        const numberWithDots = (x) => {
            let result = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            result += ',-'
            return result
        }
    </script>
{% endblock %}