{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="quiz-header px-4 py-0">
        <div class="d-flex align-items-center">
            <div class="quiz-logo-box">
                <a href="./">
                    <img class="logo-quiz" src="{% static 'assets/img/premium.png' %}" alt="">
                </a>
            </div>
            <div class="quiz-nav-box">
                <nav class="quiz-header-links" role="navigation">
                    <div class="sm-only text-center">
                        <a class="active" aria-current="page" disabled="">Om deg(1/5)</a>
                    </div>
                    <div class="lg-only">
                        <a class="active" href="./step_one" aria-current="page" disabled="">Om deg</a>
                        <a class="" disabled="" href="#">Omsetning</a>
                        <a class="" disabled="" href="#">Diverse</a>
                        <a class="" disabled="" href="#">Suksessfaktorer</a>
                        <a class="" disabled="" href="#">Oppsummering</a>
                    </div>
                    <div class="header-progress-box lg-only">
                        <div class="HeaderProgress">
                            <div class="HeaderProgress-bar inactive"></div>
                            <div class="HeaderProgress-steps">
                                <span class="active"></span>
                                <span class="inactive"></span>
                                <span class="inactive"></span>
                                <span class="inactive"></span>
                                <span class="inactive"></span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="quiz-special-box">
                <div class="DiscountBadge lg-only">
                    <span style="margin-top: 4px; margin-left: 10px;">
                        <h2 class="Title separe">DRIVE EGET KONTOR?</h2>
                        <p class="Text"><small>Sjekk ut W Flex her</small></p>
                    </span>
                </div>
                <div class="DiscountBadge sm-only">
                    <p class="Text badge-text" >W Flex</p>
                </div>
            </div>
            <div class="HeaderProgress sm-only">
                <div class="HeaderProgress-bar inactive"></div>
                <div class="HeaderProgress-bar active"></div>
                <div class="HeaderProgress-steps">
                    <span class="active"></span>
                    <span class="inactive"></span>
                    <span class="inactive"></span>
                    <span class="inactive"></span>
                    <span class="inactive"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="quiz-content">
        <h2 class="main-caption">En ny og bedre meglerhverdag<br /> starter her</h2>
        <p class="sub-caption">La oss finne et lønnsestimat og hvordan din hverdag kan bli hos W Eiendomsmegling.</p>
        <div class="quiz-answer">
            <div class="quiz-form-row quiz-1a">
                <span>Jeg er ,</span>
                <select class="main-select-input select-box-one" id="job">
                    <option class="default-option" selected disabled>velg</option>
                    <option value="eiendomsmeglerfullmektig">eiendomsmeglerfullmektig</option>
                    <option value="eiendomsmegler">eiendomsmegler</option>
                    <option value="eiendomsmeglerstudent">jurist</option>
                    <option value="eiendomsmeglerstudent">advokat</option>
                </select>
                <span>som bor/jobber i</span>
                <input type="text" autocomplete="false" class="main-text-input" id="address" placeholder="skriv sted">
                <span>kommune.</span>
            </div>
            <div class="quiz-form-row quiz-1b d-none">
                <span>Mitt fornavn er</span>
                <input type="text" autocomplete="false" class="main-text-input" id="firstName" placeholder="skriv fornavn">
                <span>og jeg har</span>
                <input type="number" autocomplete="false" class="main-text-input" id="experience" placeholder="skriv antall">
                <span>års erfaring fra meglerbransjen.</span>
            </div>
        </div>
        <button type="button" class="btn1" id="nextBtn" disabled="disabled">Neste</button>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        let totalCount = 0
        $(document).ready(function () {
            loadDataFromLocalStorage()
            showHiddenElements()

            $('#address').keyup(function () {
                $('.quiz-1b').removeClass('d-none')
            })

            $('.main-text-input').keyup(function () {
                let count = 0;
                $('.main-text-input').each(function () {
                    if ($( this ).val() === '') {
                        count += 1
                    }
                })

                if ($('select#job').val() === null) count += 1

                totalCount = count
                console.log(totalCount)

                if (count > 0) $('#nextBtn').attr('disabled', true)
                else $('#nextBtn').attr('disabled', false)

            })

            $('select#job').change(function () {
                if (totalCount > 1 ) $('#nextBtn').attr('disabled', true)
                else $('#nextBtn').attr('disabled', false)
            })

            $('#nextBtn').click(function () {
                let job = $('#job').val()
                let address = $('#address').val()
                let firstName = $('#firstName').val()
                let experience = $('#experience').val()

                localStorage.setItem('job', job)
                localStorage.setItem('address', address)
                localStorage.setItem('firstName', firstName)
                localStorage.setItem('experience', experience)

                document.location.href='./step_two'
            })
        });

        const loadDataFromLocalStorage = () => {
            const job = localStorage.getItem('job')
            const address = localStorage.getItem('address')
            const firstName = localStorage.getItem('firstName')
            const experience = localStorage.getItem('experience')

            if (job != null) {
                $('#job .default-option').attr('selected', false)
                $('#job').val(job)
            }
            if (address != null) $('#address').val(address)
            if (firstName != null) $('#firstName').val(firstName)
            if (experience != null) $('#experience').val(experience)
        }

        const showHiddenElements = () => {
            const firstName = $('#firstName').val()
            const experience = $('#experience').val()

            if (firstName !== '' && experience != '') {
                $('.quiz-1b').removeClass('d-none')
                $('#nextBtn').attr('disabled', false)
            } else {
                $('#nextBtn').attr('disabled', true)
            }
        }
    </script>
{% endblock %}