{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div id="main" role="main">
        <div class="quiz-header px-4 py-0">
            <div class="d-flex align-items-center">
                <div class="quiz-logo-box">
                    <a href="./">
                        <img class="logo-quiz" src="{% static 'assets/img/premium.png' %}" alt="">
                    </a>
                </div>
                <div class="quiz-nav-box">
                    <nav class="quiz-header-links" role="navigation">
                        <div class="sm-only text-center">
                            <a class="active" aria-current="page" disabled="">Suksessfaktorer(4/5)</a>
                        </div>
                        <div class="lg-only">
                            <a class="" href="./step_one" aria-current="page" disabled="">Om deg</a>
                            <a class="" disabled="" href="./step_two">Omsetning</a>
                            <a class="" disabled="" href="./step_three">Diverse</a>
                            <a class="active" disabled="" href="./step_four">Suksessfaktorer</a>
                            <a class="" disabled="" href="#">Oppsummering</a>
                        </div>
                        <div class="header-progress-box lg-only">
                            <div class="HeaderProgress">
                                <div class="HeaderProgress-bar inactive"></div>
                                <div class="HeaderProgress-bar active w-75"></div>
                                <div class="HeaderProgress-steps">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="inactive"></span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="quiz-special-box">
                    <div class="DiscountBadge lg-only">
                        <span style="margin-top: 4px; margin-left: 10px;">
                            <h2 class="Title separe">DRIVE EGET KONTOR?</h2>
                            <p class="Text"><small>Sjekk ut W Flex her</small></p>
                        </span>
                    </div>
                    <div class="DiscountBadge sm-only">
                        <p class="Text badge-text">W Flex</p>
                    </div>
                </div>
                <div class="HeaderProgress sm-only">
                    <div class="HeaderProgress-bar inactive"></div>
                    <div class="HeaderProgress-bar active w-75"></div>
                    <div class="HeaderProgress-steps">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="inactive"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-content">
            <h2 class="main-caption">En ny og bedre meglerhverdag<br /> starter her</h2>
            <div class="quiz-answer">
                <div class="quiz-form-row quiz-2a">
                    <span>Det som er de to viktigste tingene for meg for å både trives og ha suksess som megler er</span>
                    <select class="main-select-input select-box-one" name="thing_one" id="thing_one">
                        <option class="default-option" selected disabled>velg</option>
                        {% for x in important_things %}
                            <option value="{{ x.value }}">{{ x.label}}</option>
                        {% endfor %}
                    </select>
                    <br /><span>og</span><br />
                    <select class="main-select-input select-box-one" name="thing_two" id="thing_two">
                        <option class="default-option" selected disabled>velg</option>
                        {% for x in important_things %}
                            <option value="{{ x.value }}">{{ x.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="button" class="btn1" id="nextBtn" disabled="disabled">Neste</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            loadDataFromLocalStorage()
            disableOptionFromOtherSelect()
            checkNextButtonStatus()

            $('select').change(function() {
                disableOptionFromOtherSelect()

                let thingOne = $('#thing_one').val()
                let thingTwo = $('#thing_two').val()

                if (thingOne !== null && thingTwo !== null) {
                    $('#nextBtn').attr('disabled', false)
                } else {
                    $('#nextBtn').attr('disabled', true)
                }
            });

            $('#nextBtn').click(function () {
                let importantThingOne = $('#thing_one').val()
                let importantThingTwo = $('#thing_two').val()

                localStorage.setItem('importantThingOne', importantThingOne)
                localStorage.setItem('importantThingTwo', importantThingTwo)

                document.location.href='./step_five'
            })
        });

        const loadDataFromLocalStorage = () => {
            const importantThingOne = localStorage.getItem('importantThingOne')
            const importantThingTwo = localStorage.getItem('importantThingTwo')

            if (importantThingOne != null) {
                $('#thing_one .default-option').attr('selected', false)
                $('#thing_one').val(importantThingOne)
            }
            if (importantThingTwo != null) {
                $('#thing_two .default-option').attr('selected', false)
                $('#thing_two').val(importantThingTwo)
            }
        }

        const disableOptionFromOtherSelect = () => {
            let selectedOptions = $('select option:selected');
            $('select option:not(.default-option)').removeAttr('disabled');
            selectedOptions.each(function () {
                let value = this.value;
                if (value !== '') {
                    let id = $(this).parent('select').prop('id');
                    let options = $('select:not(#' + id + ') option[value="' + value + '"]');
                    options.prop('disabled', 'true');
                }
            });
        }

        const checkNextButtonStatus = () => {
            const thingOne = $('#thing_one').val()
            const thingTwo = $('#thing_two').val()

            if (thingOne !=null && thingTwo != null) $('#nextBtn').attr('disabled', false)
        }

        const resetLocalStorage = () => {
            localStorage.removeItem('importantThingOne')
            localStorage.removeItem('importantThingTwo')
        }
    </script>
{% endblock %}